<%- include('../components/header', { title: 'SPA Test' }) %>

<main class="h-screen m-auto">
  <div class="flex h-screen">
    <!-- Sidebar -->
    <div class="w-60 h-full">
      <%- include('../components/template') %>
    </div>

    <!-- Content -->
    <div class="flex-1 p-6 overflow-y-auto pt-16">
      <%- include('./spa-test-spa') %>
    </div>
  </div>
</main>

<%- include('../components/footer') %>
